{% extends 'users/base.html' %}

{% block content %}
     <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    {% if messages or form.errors %}
                        <div class="alert {% if messages %} alert-success {% else %} alert-warning {% endif %} alert-dismissible fade show" role="alert"
                             style="margin-top: 50px;">
                            {% if messages %}
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            {% else %}
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            {% endif %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">
                            {% if user %}
                                <h3>Поздравляем!</h3>
                                <br>
                                <h4>Пользователь {{ user.username }} подтверждён.</h4>
                            {% else %}
                                <h3>Верификация не пройдена!</h3>
                            {% endif %}
                        </h3>
                        </div>
                        <div class="card-body">
                            <a class="btn btn-outline-success" href="{% url 'index' %}">На главную</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}